
{% extends 'staff/staffbase.html' %}

{% block content %}
    <div style = "font-size:0.9em">welcome to ThriftPlus
     <hr>
     These are the major steps you should follow, if you want to make the most of this app<hr>

    <div>1. register members of staff. This is the only way they can access the plateform <a href="/staff/staff/staffdet/">Staff matters</a> </div>

    <hr>
    <div>2. If a member of staff wants to function as a merchant, you've got to get them <a href="/staff/staff/merchant/">registered</a></div>
    <hr>
</div>
{% endblock %}